*{
    font-family: Arial, serif;
}

body{
    display: flex;
    flex-flow: column;
    background-color: #C5C5C5;
    margin: 0;
}

header{
    background-color: #6aaae8;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 0;
}

nav{
    width: 100%;
    height: 70px;
    padding: 0;
    margin-top: -20px;
}

article{
    width: 80%;
    flex-grow: 3;
    height: auto;
    margin-right: 10px;
}


aside{
    background-color: #d6d6d6;
    width: 18%;
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-flow: column;
}

footer{
    background-color: #616161;
    width: 100%;
    height: auto;
    display:flex;
}

.texto{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    margin: 5px;
    height: auto;
}

.logo{
    width: 220px;
}

.derecha{
    flex-grow: 3;
    width: 30%;
    align-items: center;
    margin: 20px;
}


.izquierda{
    margin-left: 20px;
    flex-grow: 1;
    width: 50%;
    display: flex;
}

.carro {
    flex-grow: 1;
    display: flex;
    width: 8%;
}

.carrito{
    background-image: url("imagenes/carrito.png");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 50%;
}

.login{
    flex-grow: 1;
    display: flex;
    width: 8%;
    text-align: center;
}

.redondo{
    background-image: url("imagenes/login.png");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 30%;
}

.izquierda img{
    width: 15%;
    margin: 25px;
}

.log{
    flex-grow: 1;
    padding-top: 20px;
}

.submit{
    width: 100px;
    height: 50px;
    font-size: 25px;
    align-self: center;
    background-color: #C5C5C5;
    border-color: #C5C5C5;
    color: #757575;
}

.submit:hover{
    background-color: #848484;
    border-color: #848484;
    color: black;
}

.imagenes{
    flex-grow: 3;
    font-size: 25px;
    align-items: center;
    text-align: center;
}


.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #3e77ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #3e77ff;
    background-image: url("imagenes/lupa.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.wrap{
    width: 40%;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    transform: translate(-50%, -50%);
}

.lupa{
    width: 100px;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

nav{
    font-weight: bold;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #8ab6e7;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #4b4b4b;
    text-decoration: none;
    transition: 1s;
}
.menu-horizontal > li:hover{
    background-color: #6aaae8;
    transition: 1s;
}

.menu-horizontal > li > a:hover{
    color: black;
    transition: 1s;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #8ab6e7;
    transition: 1s;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
    transition: 1s;
}
.menu-vertical li:hover{
    background-color: #6aaae8;
    transition: 1s;
}

.menu-vertical li a{
    display: block;
    color: #4b4b4b;
    text-decoration: none;
    padding: 15px 0 15px 20px;
    transition: 1s;
}

.menu-vertical{
    padding: 0;
}

.menu-vertical > li > a:hover{
    color: black;
    transition: 1s;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.desabilitado{
    color: rgb(204, 204, 204);
}

article{
    display: flex;
    flex-wrap: nowrap;
}

.fot1{
    flex-grow: 1;
    list-style: none;
}
.fot1 li{
    list-style: none;
}
.fot1 a{
    text-decoration: none;
    color: black;

}
.fot1 a:hover{
    color: white;
}

.fot2{
    flex-grow: 1;
}
.fot2 li{
    list-style: none;
}
.fot2 a{
    text-decoration: none;
    color: black;
}
.fot2 a:hover{
    color: white;
}

.fot3{
    flex-grow: 1;
}
.fot3 li{
    list-style: none;
}
.fot3 a{
    text-decoration: none;
    color: black;
}
.fot3 a:hover{
    color: white;
}

.fot4{
    flex-grow: 1;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*És el títol que apareix a la part superior dels productes*/
#resultat {
    height: 50px;
    display: block;
    padding-left: 2em;
}

#article{
    width: 80%;
    height: auto;
    /*border: black 1px solid;*/
    position: absolute;
    top: 14em;
    left: 19%;
}

/*els altres productes*/
.producto {
    float: left;
    margin-left: 1.5em;
    margin-top: 1em;
    width: 22.5%;
    height: 30em;
    background-color: #d6d6d6;
    /*border: black 1px solid;*/
}

.imgproducto {
    width: 100%;
    height: 15em;
    text-align: center;
    background-color: #848484;
    /*border: black 1px solid;*/
}

.imgproducto img {
    width: auto;
    max-width: 100%;
    margin: auto;
    height: auto;
    max-height: 100%;
}