*{
    font-family: Arial, serif;
}

body{
    display: flex;
    flex-flow: column;
    background-color: #C5C5C5;
    margin: 0;
}

header{
    background-color: #949494;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 0;
}

nav{
    width: 100%;
    height: 70px;
    padding: 0;
    margin-top: -20px;
}

article{
    max-width: 80%;
    min-width: 80%;
    flex-grow: 3;
    height: auto;
    margin-right: 10px;
    padding-left: 2.5em;
}

aside{
    background-color: #d6d6d6;
    width: 20%;
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-flow: column;
}

footer{
    background-color: #616161;
    width: 100%;
    height: 150px;
    display:flex;
}

.texto{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.logo{
    width: 220px;
}

.derecha{
    flex-grow: 3;
    width: 30%;
}

.izquierda{
    margin-left: 20px;
    flex-grow: 1;
    width: 70%;
    display: flex;
}

.izquierda img{
    width: 15%;
    margin: 25px;
}

.log{
    flex-grow: 1;
    padding-top: 20px;
}

.submit{
    width: 100px;
    height: 50px;
    font-size: 25px;
    align-self: center;
    background-color: #C5C5C5;
    border-color: #C5C5C5;
    color: #757575;
}

.submit:hover{
    background-color: #848484;
    border-color: #848484;
    color: black;
}

.imagenes{
    flex-grow: 3;
    font-size: 25px;
    align-items: center;
    text-align: center;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 0;
    padding: 0;
}

nav li{
    background-color: rgb(235, 235, 235);
    flex-grow: 1;
    text-align: center;
}

nav li a:hover{
    color: rgb(0, 0, 0);
    transition: color 0.5s;
}

@keyframes onHoverAnimation {
    0% {
    }
    100% {
        background-color:  #949494;
    }
}

nav li a {
    text-decoration: none;
    /*font-family: arial;*/
    font-weight: bold;
    color: rgb(119, 119, 119);
    line-height: 2em;
    padding: 5px;
    padding-left: 20px;
    display: block;

    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-play-state:initial;

}

nav li a:hover {
    animation-name: onHoverAnimation;
}

.desabilitado{
    color: rgb(204, 204, 204);
}

article{
    display: flex;
    flex-wrap: nowrap;
}

.fot1{
    flex-grow: 1;
    list-style: none;
}
.fot1 li{
    list-style: none;
}
.fot1 a{
    text-decoration: none;
    color: black;

}
.fot1 a:hover{
    color: white;
}

.fot2{
    flex-grow: 1;
}
.fot2 li{
    list-style: none;
}
.fot2 a{
    text-decoration: none;
    color: black;
}
.fot2 a:hover{
    color: white;
}

.fot3{
    flex-grow: 1;
}
.fot3 li{
    list-style: none;
}
.fot3 a{
    text-decoration: none;
    color: black;
}
.fot3 a:hover{
    color: white;
}

.fot4{
    flex-grow: 1;
    /*background-image: url();*/
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.aside {

}

.inputs_aside{
    font-size: xxx-large;
}

input[type=checkbox] {
    transform: scale(1.35);
}

.producte{
    margin-top: 6em;
    margin-left: -10em;
    margin-right: 12em;
    float: left;
    min-width: 22%;
    max-width: 22%;
    height: 30em;
    border: black solid 1px;
}

.imgprodcute{
    width: 100%;
    height: 17em;
    border: black 1px solid;
}

.product {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#titol {
    display: block;
    height: 5em;
}

hola