*{
    font-family: Arial, serif;
}

body{
    display: flex;
    flex-flow: column;
    background-color: #C5C5C5;
    margin: 0;
}

header{
    background-color: #6aaae8;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 0;
}

nav{
    width: 100%;
    height: 70px;
    padding: 0;
    margin-top: -20px;
}

article{
    width: 80%;
    flex-grow: 3;
    height: 3100px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

aside{
    background-color: #d6d6d6;
    width: 18%;
    flex-grow: 1;
    height: 445px;
    display: flex;
    flex-flow: column;
}

footer{
    background-color: #616161;
    width: 100%;
    height: 150px;
    display:flex;
}

.texto{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.logo{
    width: 220px;
}

.derecha{
    flex-grow: 3;
    width: 30%;
    align-items: center;
    margin: 20px;
}


.izquierda{
    margin-left: 20px;
    flex-grow: 1;
    width: 50%;
    display: flex;
}

.carro {
    flex-grow: 1;
    display: flex;
    width: 8%;
}

    .carrito{
        background-image: url("imagenes/carrito.png");
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-top: 20%;
        margin-left: 50%;
    }

.login{
    flex-grow: 1;
    display: flex;
    width: 8%;
    text-align: center;
}

    .redondo{
        background-image: url("imagenes/login.png");
        background-position: center;
        background-position-y: 4px;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-top: 15%;
        margin-left: 30%;
    }

.izquierda img{
    width: 15%;
    margin: 25px;
}

.log{
    flex-grow: 1;
    padding-top: 20px;
}

.submit{
    width: 100px;
    height: 50px;
    font-size: 25px;
    align-self: center;
    background-color: #C5C5C5;
    border-color: #C5C5C5;
    color: #757575;
}

.submit:hover{
    background-color: #848484;
    border-color: #848484;
    color: black;
}

.imagenes{
    flex-grow: 3;
    font-size: 25px;
    align-items: center;
    text-align: center;
}


.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #3e77ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #3e77ff;
    background-image: url("imagenes/lupa.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.wrap{
    width: 40%;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    transform: translate(-50%, -50%);
}

.lupa{
    width: 100px;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

nav{
    font-weight: bold;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #8ab6e7;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #4b4b4b;
    text-decoration: none;
    transition: 1s;
}
.menu-horizontal > li:hover{
    background-color: #6aaae8;
    transition: 1s;
}

.menu-horizontal > li > a:hover{
    color: black;
    transition: 1s;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #8ab6e7;
    transition: 1s;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
    transition: 1s;
}
.menu-vertical li:hover{
    background-color: #6aaae8;
    transition: 1s;
}

.menu-vertical li a{
    display: block;
    color: #4b4b4b;
    text-decoration: none;
    padding: 15px 0 15px 20px;
    transition: 1s;
}

.menu-vertical{
    padding: 0;
}

.menu-vertical > li > a:hover{
    color: black;
    transition: 1s;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/


article{
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.texto{
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.slider{
    overflow: hidden;
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
}
.slider ul{
    display: flex;
    animation: cambio 30s infinite linear;
    width: 400%;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
}
.slider li{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
}

.slider img{
    width: 100%;
    height: 80%;
    margin: 0;
    border-radius: 20px;
}

@keyframes cambio{
    0%{margin-left: -0.6%;}
    20%{margin-left: -0.6%;}

    25%{margin-left: -100.6%;}
    45%{margin-left: -100.6%;}

    50%{margin-left: -200.7%;}
    70%{margin-left: -200.7%;}

    75%{margin-left: -300.7%;}
    100%{margin-left: -300.7%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
    .slider, .slider ul, .slider img{
        height: 100vh;
    }
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.art1{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 15%;
}

.one{
    flex-grow: 2;
    background-color: #6aaae8;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

    .arriba1{
        flex-grow: 8;
        width: 100%;
        height: 50px;
        background-image: url("imagenes/colage1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .abajo1{
        flex-grow: 1;
        width: 100%;
        height: 50px;
        text-align: center;
        align-items: center;
        background-color: #4499ff;
    }


.two{
    flex-grow: 3;
    background-color: #8ab6e7;
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .arriba2{
        flex-grow: 8;
        width: 100%;
        height: 50px;
        background-image: url("imagenes/colage2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .abajo2{
        flex-grow: 1;
        width: 100%;
        height: 50px;
        text-align: center;
        align-items: center;
        background-color: #4499ff;

    }

.tree{
    flex-grow: 2;
    background-color: #6aaae8;
    display: flex;
    flex-flow: column;
    margin: 10px;

}

    .arriba3{
        flex-grow: 8;
        width: 100%;
        height: 50px;
        background-image: url("imagenes/colage3.png");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .abajo3{
        flex-grow: 1;
        width: 100%;
        height: 50px;
        text-align: center;
        align-items: center;
        background-color: #4499ff;

    }


.art2{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 15%;
    background-color: #4b4b4b;
}

    .one1{
        flex-grow: 2;
        background-color: #797979;
        display: flex;
        flex-flow: column;
        margin: 10px;
    }

        .arriba4{
            flex-grow: 8;
            width: 100%;
            height: 50px;
            background-image: url("imagenes");
        }

        .abajo4{
            background-color: blueviolet;
            flex-grow: 1;
            width: 100%;
            height: 50px;
            text-align: center;
            align-items: center;
        }


    .two1{
        flex-grow: 3;
        background-color: #9DBFAF;
        display: flex;
        flex-flow: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .arriba5{
            background-color: #5693d5;
            flex-grow: 8;
            width: 100%;
            height: 50px;
        }

        .abajo5{
            background-color: #9218fa;
            flex-grow: 1;
            width: 100%;
            height: 50px;
            text-align: center;
            align-items: center;
        }

    .tree1{
        flex-grow: 2;
        background-color: aliceblue;
        display: flex;
        flex-flow: column;
        margin: 10px;

    }

        .arriba6{
            background-color: #b6d4f8;
            flex-grow: 8;
            width: 100%;
            height: 50px;

        }

        .abajo6{
            background-color: #be85f6;
            flex-grow: 1;
            width: 100%;
            height: 50px;
            text-align: center;
            align-items: center;
        }




.fot1{
    flex-grow: 1;
    list-style: none;
}
.fot1 li{
    list-style: none;
}
.fot1 a{
    text-decoration: none;
    color: black;

}
.fot1 a:hover{
    color: white;
}

.fot2{
    flex-grow: 1;
}
.fot2 li{
    list-style: none;
}
.fot2 a{
    text-decoration: none;
    color: black;
}
.fot2 a:hover{
    color: white;
}

.fot3{
    flex-grow: 1;
}
.fot3 li{
    list-style: none;
}
.fot3 a{
    text-decoration: none;
    color: black;
}
.fot3 a:hover{
    color: white;
}

.fot4{
    flex-grow: 1;
    /*background-image: url();*/
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
